*.jl.*.cov
*.jl.cov
*.jl.mem
*.dat

/Manifest.toml
/test/data/NATOPS/NATOPSDimension*
/test/experiments/results/*
/test/experiments/old
/docs/build/
/statprof/*
/test/analyses/*
/test/notes
/test/deprecated
*.txt
*.tex
*.zip

TODO

**/deprecated/
/test/benchmark/synthetic/deprecated/

/test/experiments/ENZYMES/miners/
/test/experiments/ENZYMES/plots/
/test/experiments/ENZYMES/results/
/test/experiments/ENZYMES/results_24_october_with_negations/
/test/experiments/ENZYMES/rules/

/test/experiments/LandCover/data/

.vscode/settings.json