*.jl.*.cov
*.jl.cov
*.jl.mem
*.dat

/Manifest.toml
/docs/build/
*.txt
*.tex
*.zip

TODO

**/deprecated/
logs/

.vscode/settings.json

plots/*.aux
plots/*.pdf
plots/*.fdb_latexmk
plots/*.log
plots/*.synctex.gz
plots/*.tex
plots/*.fls
