name = "ModalAssociationRules"
uuid = "fb95e5f7-b6b0-4744-a282-88ebeeae65a3"
license = "MIT"
authors = ["Mauro Milella", "Giovanni Pagliarini"]
version = "0.2.1"

[deps]
Accessors = "7d9f7c33-5ae7-4f3b-8dc6-eff91059b697"
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
Cairo = "159f3aea-2a34-519c-b102-8c37f9878175"
CategoricalArrays = "324d7699-5711-5eae-9e2f-1d82baa6b597"
Clustering = "aaaa29a8-35af-508c-8bc3-b662a17a0fe5"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
Compose = "a81c6b42-2e10-5240-aca2-a61377ecd94b"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Discretizers = "6e83dbb3-75ca-525b-8ae2-3751f0dd50b4"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Fontconfig = "186bb1d3-e1f7-5a2c-a377-96d770f13627"
GraphPlot = "a2cc645c-3eea-5389-862e-a155d0052231"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
Lazy = "50d2b5c4-7a5e-59d5-8109-a42b560f39c0"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
MLJ = "add582a8-e3ab-11e8-2d5e-e98b27df1bc7"
MatrixProfile = "24e37439-14ec-4097-bda3-6a65822e2305"
MultiData = "8cc5100c-b3d1-4f82-90cb-0ea93d317aba"
PGFPlotsX = "8314cec4-20b6-5062-9cdb-752b83310925"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PrettyTables = "08abe8d2-0d0c-5749-adfa-8a2ac140af0d"
ProgressBars = "49802e3a-d2f1-5c88-81d8-b72133a6f568"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
ResumableFunctions = "c5292f4c-5179-55e1-98c5-05642aab7184"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
SoleBase = "4475fa32-7023-44a0-aa70-4813b230e492"
SoleData = "123f1ae1-6307-4526-ab5b-aab3a92a2b8c"
SoleLogics = "b002da8f-3cb3-4d91-bbe3-2953433912b5"
StatProfilerHTML = "a8a75453-ed82-57c9-9e16-4cd1196ecbf5"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
ZipFile = "a5390f91-8eb1-5f08-bee0-b1d1ffed6cea"

[compat]
Accessors = "0.1"
BenchmarkTools = "1"
Cairo = "1.1.1"
CategoricalArrays = "0.10, 1"
Clustering = "0.15.8"
Combinatorics = "1"
Compose = "0.9.6"
DataFrames = "1"
DataStructures = "0.18, 0.19"
Discretizers = "3.2.3"
Distributions = "0.25.113"
Fontconfig = "0.4.1"
GraphPlot = "0.6.1"
ImageFiltering = "0.7.12"
IterTools = "1"
JSON = "0.21.4"
Lazy = "0.15"
MAT = "0.10.7"
MLJ = "0.20, 0.21"
MatrixProfile = "1.1.1"
MultiData = "0.1.4"
PGFPlotsX = "1.6.2"
Parameters = "0.12"
Plots = "1"
PrettyTables = "2, 3"
ProgressBars = "1.5.1"
Random = "1"
Reexport = "1"
ResumableFunctions = "1"
Revise = "3"
SoleBase = "0.13.3"
SoleData = "0.16.3"
SoleLogics = "0.13.2"
StatProfilerHTML = "1.6.0"
StaticArrays = "1.9.15"
StatsBase = "0.30 - 0.34"
ZipFile = "0.10"
julia = "1"

[extras]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
MLJ = "add582a8-e3ab-11e8-2d5e-e98b27df1bc7"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
PlutoUI = "7f904dfe-b85e-4ff6-b463-dae2292396a8"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Markdown", "Graphs", "InteractiveUtils", "PlutoUI", "BenchmarkTools", "MLJ"]
